@import "partials/variables";
@import "partials/mixins";
@import "partials/type";

.coming-soon-sec{
    background-color: #0F161B;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        right: 0;
        top: 50px;
        width: 220px;
        height: 280px;
        background: {
            image: url('../img/soon-1.svg');
            repeat: no-repeat;
            position: center right;
        };
    }
    &::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 105px;
        background: linear-gradient(90.67deg, #32B0DC 1.66%, #275C9B 114.42%);
        opacity: 0.2;
    }
    .coming-soon-cover{
        // min-height: calc(100vh - 85px);
        // display: flex;
        // flex-direction: column;
        position: relative;
        background: {
            image: url('../img/soon-frame.svg');
            repeat: no-repeat;
            position: center top;
            size: 130%;
        };
        &::before{
            content: '';
            position: absolute;
            left: -200px;
            top: 35%;
            width: 250px;
            height: 280px;
            background: {
                image: url('../img/soon-2.svg');
                repeat: no-repeat;
                position: center left;
            };
        }
        .text-block{
            padding: 140px 0 120px;
            text-align: center;
            h2{
                font-family: $Syne;
                font-size: 96px;
                color: #fff;
                font-weight: 700;
                margin-bottom: 0;
            }
        }
        .img-block{
            overflow: hidden;
            text-align: center;
            padding-top: 35px;
            .img-cover{
                img{
                    margin-bottom: -5px;
                    max-height: 800px;
                }
            }
        }
    }
}

@media($sm-1679){
    .coming-soon-sec .coming-soon-cover .text-block h2{
        font-size: 84px;
    }
    .coming-soon-sec::after{
        background-size: 180px;
    }
    .coming-soon-sec .coming-soon-cover::before{
        background-size: 215px;
        left: -85px;
    }
    .coming-soon-sec .coming-soon-cover{
        background-size: 122%;
    }
    .coming-soon-sec .coming-soon-cover .img-block .img-cover img{
        max-height: 715px;
    }
}
@media($sm-1441){
    .coming-soon-sec .coming-soon-cover .text-block h2{
        font-size: 75   px;
    }
    .coming-soon-sec::after{
        background-size: 180px;
    }
    .coming-soon-sec .coming-soon-cover::before{
        background-size: 215px;
        left: -145px;
    }
    .coming-soon-sec .coming-soon-cover {
        background-size: 112%;
    }
    .coming-soon-sec::after {
        top: 70px;
        width: 165px;
        height: 230px;
        background-size: 165px;
    }
    .coming-soon-sec .coming-soon-cover::before {
        background-size: 175px;
        left: -10px;
        width: 180px;
        height: 175px;
    }
    .coming-soon-sec .coming-soon-cover .img-block{
        padding-top: 5px;
    }
    .coming-soon-sec .coming-soon-cover .img-block .img-cover img {
        max-height: 660px;
    }
}

@media($sm-1199){
    .coming-soon-sec::before{
        height: 90px;
    }
    .coming-soon-sec .coming-soon-cover .text-block h2 {
        font-size: 65px;
    }
    .coming-soon-sec .coming-soon-cover {
        background-size: 110%;
    }
    .coming-soon-sec::after {
        top: 70px;
        width: 135px;
        height: 180px;
        background-size: 135px;
    }
    .coming-soon-sec .coming-soon-cover::before {
        background-size: 145px;
        left: 20px;
        width: 145px;
        height: 157px;
        top: 30%;
    }
    .coming-soon-sec .coming-soon-cover .img-block .img-cover img {
        max-height: 580px;
    }
    .coming-soon-sec .coming-soon-cover .text-block {
        padding: 110px 0 85px;
    }
}

@media($sm-991){
    .coming-soon-sec .coming-soon-cover .text-block h2 {
        font-size: 54px;
    }
    .coming-soon-sec .coming-soon-cover {
        min-height: auto;
        background-size: 120%;
    }
    .coming-soon-sec .coming-soon-cover .img-block::after{
        height: 90px;
    }
    .coming-soon-sec .coming-soon-cover .img-block .img-cover img {
        max-height: 520px;    
    }
    .coming-soon-sec .coming-soon-cover .text-block {
        padding: 70px 0 60px;
    }
    .coming-soon-sec::after {
        top: 45px;
        background-size: 120px;
    }
    .coming-soon-sec .coming-soon-cover::before {
        background-size: 125px;
        left: 20px;
        width: 125px;
        height: 130px;
        top: 26%;
    }
    .coming-soon-sec .coming-soon-cover .img-block::after {
        height: 80px;
    }
    .coming-soon-sec::before{
        height: 90px;
    }
}

@media($sm-767){
    .coming-soon-sec::before{
        height: 80px;
    }
    .coming-soon-sec .coming-soon-cover {
        background-size: 100%;
    }
    .coming-soon-sec{
        .container-1200{
            max-width: 100%;
        }
    }
    .coming-soon-sec .coming-soon-cover {
        background-size: 110%;
    }
    .coming-soon-sec .coming-soon-cover .text-block h2 {
        font-size: 46px;
    }
    .coming-soon-sec::after {
        top: 45px;
        background-size: 100px;
        width: 105px;
        height: 130px;
    }
    .coming-soon-sec .coming-soon-cover::before {
        background-size: 100px;
        left: 25px;
        width: 100px;
        height: 105px;
        top: 28%;
    }
    .coming-soon-sec .coming-soon-cover .img-block .img-cover img {
        max-height: 480px;
    }
}

@media($sm-579){
    .coming-soon-sec::before {
        height: 65px;
    }
    .coming-soon-sec .coming-soon-cover .img-block .img-cover img {
        max-height: 400px;
        max-width: 100%;
        margin-bottom: 3px;
    }
    .coming-soon-sec{
        z-index: 1;
    }
    .coming-soon-sec .coming-soon-cover .text-block h2 {
        font-size: 36px;
    }
    .coming-soon-sec::after {
        top: 45px;
        background-size: 80px;
        width: 80px;
        height: 100px;
        z-index: -1;
    }
    .coming-soon-sec .coming-soon-cover::before {
        background-size: 65px;
        left: 25px;
        width: 70px;
        height: 70px;
        top: 30%;
    }
    .coming-soon-sec .coming-soon-cover {
        background-size: 140%;
    }
}
@media($sm-479){
    .coming-soon-sec .coming-soon-cover::before {
        background-size: 50px;
        left: 15px;
        width: 70px;
        height: 70px;
        top: 26%;
    }
}

.mob-fund-block .slick-slide{
    outline: none;
}